<p>Confirmed! You added the following movie to the database: </p>

<p>
<strong>Title:</strong><%= @confirmed[0]["title"] %><br></br>
<strong>Date Released:</strong><%= @confirmed[0]["year"] %><br></br>
<strong>Description:</strong>"<%= @confirmed[0]["description"] %>"<br></br>
<strong>Rating:</strong>strong<%= @confirmed[0]["rating"] %><br></br>
</p>


<a href="/">Return to main menu</a>


<!-- More info about <%= @results[0]['title'] %><br></br>
<p>
<strong>Title:</strong><%= @results[0]["title"] %><br></br>
<strong>Date Released:</strong><%= @results[0]["year"] %><br></br>
<strong>Description:</strong>"<%= @results[0]["description"] %>"<br></br>
<strong>Rating:</strong>strong<%= @results[0]["rating"] %><br></br>
</p>


<a href="/">Return to main menu</a>

-->